/* ====================== Responsive Media Queries ====================== */

/* TODO: check the right margin problem after page resizing */

@media screen and (max-width: 670px) {

	.inside #map-container {
		position: relative;
		margin: 20px;
		width: auto;
		height: 200px;
	}

	#restaurant-container {
		border-top: 2px solid #fff;
		margin-top: 140px;
		width: auto;
	}

	#reviews-container {
	  width: auto;
	}
}

@media screen and (min-width: 670px) and (max-width: 900px) {

	.inside #map-container {
		position: relative;
		margin: 20px;
	  width: auto;
		height: 370px;
	}

	#restaurant-img {
		width: 600px;
	}
	#restaurant-cuisine {
		width: 600px;
	}

	#restaurant-container {
		border-top: 2px solid #fff;
		margin-top: 140px;
		width: auto;
	}

	#reviews-container {
	  width: auto;
	}

	#reviews-list {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}

	#reviews-list li {
		float: left;
		margin: 10px;
		width: calc((100% - 50px)/2);
	}

}

@media screen and (min-width: 900px) {
	.inside #map-container {
	  width: calc(100vw - 500px);
	}

	#restaurant-container, #reviews-container {
	  width: 420px;
	}
}
